#boton_verde { color:#25a342 }

.navbar-brand img { max-width:  100px;}

.carousel-item { opacity: .8;}

#card {text-align: left;}

#Bs { background-color: rgb(46, 61, 60);color: white; text-align: left;}


